<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    模板引擎html
    <%= 1+2%>
    <%- dom.h%>

    {{if num>10}} <span>大于10</span>
    {{else}} <span>小于等于10</span>
    {{/if}}

    {{each list}}
        <li>{{$index}} {{$value.name}}</li>
    {{/each}}

    {{include './footer.html'}}
</body>
</html>